version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"

  users:
    build: ./users
    container_name: service_users
    ports:
      - "5001:5001"
    environment:
      - REDIS_HOST=redis
      - ADMIN_KEY=secret
      - APP_PORT=5001
    volumes:
      - ./initial_data_users.csv:/app/initial_data_users.csv
    depends_on:
      - redis

  quotes:
    build: ./quotes
    container_name: service_quotes
    ports:
      - "5002:5002"
    environment:
      - REDIS_HOST=redis
      - ADMIN_KEY=secret
      - APP_PORT=5002
    volumes:
      - ./initial_data_quotes.csv:/app/initial_data_quotes.csv
    depends_on:
      - redis

  search:
    build: ./search
    container_name: service_search
    ports:
      - "5003:5003"
    environment:
      - REDIS_HOST=redis
      - ADMIN_KEY=secret
      - APP_PORT=5003
    depends_on:
      - redis