apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: 1
  selector:
    matchLabels:
      service: search
  template:
    metadata:
      labels:
        service: search
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
      - name: search-service
        image: ghcr.io/olivinfo/search:latest
        env:
        - name: REDIS_HOST
          value: "redis-svc"
        - name: REDIS_PORT
          value: "6379"
        - name: ADMIN_KEY
          valueFrom:
            secretKeyRef:
              name: search-secrets
              key: ADMIN_KEY
        ports:
        - containerPort: 5000