apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: 1
  selector:
    matchLabels:
      service: search
  template:
    metadata:
      labels:
        service: search
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
      - name: search-service
        image: ghcr.io/olivinfo/search:main
        securityContext:
          runAsNonRoot: true
          runAsUser: 10001
          runAsGroup: 10001
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true 
          capabilities:
            drop: ["ALL"]
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        env:
        - name: REDIS_HOST
          value: "redis-svc"
        - name: REDIS_PORT
          value: "6379"
        - name: ADMIN_KEY
          valueFrom:
            secretKeyRef:
              name: search-secrets
              key: ADMIN_KEY
        ports:
        - containerPort: 5000