apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: 1
  selector:
    matchLabels:
      service: search
  template:
    metadata:
      labels:
        service: search
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
      - name: search-service
        image: {{ .Values.image.registry }}/search:{{ .Values.image.tag }}
        env:
        - name: REDIS_HOST
          value: "redis-svc"
        - name: REDIS_PORT
          value: "6379"
        ports:
        - containerPort: 5000
